<head><title>Terms & Conditions</title></head>
<p1 class="terms">Alriigght here's the deal.<br><br>
    BlackDoge reserve the right to close business at any point in time, providing 14 days notice by email before accounts are closed.<br><br>
    BlackDoge take no responsibility for user's funds security.<br><br>
    BlackDoge retain the right to limit daily withdrawals to the equivalent of USD 10 at any point in time.<br><br>
    Users take into their own hands the security of their own accounts.<br><br>
    Users understand that cryptocurrencies are by design difficult to retreive in cases of theft.<br><br>
</p1>